DATABASE_URL="mysql://mysql:mysql@localhost:3306/tutorme"
JWT_SECRET=secret
FIRECRAWL_API_KEY=fc
AI_API_KEY=your_api_key_here
AI_BASE_URL=http://localhost:1234/v1
AI_DEFAULT_MODEL=gpt-4o-mini
AI_POWERFUL_MODEL=gpt-4o
